.button {
  font: inherit;
  border: 1px solid #141414;
  background: #141414;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #276ef1;
  border-color: #276ef1;
}

.button:focus {
  outline: none;
}
