.comment {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: 000000;
}

.comment h2 {
  font-size: 2rem;
}

.comment h3 {
  margin: 0;
  font-size: 1rem;
}
